@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Man Wardrobe</h1>
    <p class="lead">Representing the basic male wardrobe of America.</p>
    <p><a href="#" class="btn btn-primary btn-lg">About us &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h2>Tops</h2>
            <img width="300" height="300"  src="@Url.Content("~/Images/Grey-shirt.jpeg")" />
            <p><a class="btn btn-primary" href="#">Tops &raquo;</a></p>
        </div>
        <div class="col-md-3 col-sm-12">
            <h2>Bottoms</h2>
            <img src="@Url.Content("~/Images/Black-biz-pants.jpg")" />
            <p><a class="btn btn-primary" href="#">Bottoms &raquo;</a></p>
        </div>
        <div class="col-md-3 col-sm-12">
            <h2>Shoes</h2>
            <img width="300" height="300" src="@Url.Content("~/Images/Black-cas-shoes.jpg")" />
            <p><a class="btn btn-primary" href="#">Shoes &raquo;</a></p>
        </div>
        <div class="col-md-3 col-sm-12">
            <h2>Accessories</h2>
            <img src="@Url.Content("~/Images/watch.jpg")" />
            <p><a class="btn btn-primary" href="#">Accessories &raquo;</a></p>
        </div>
    </div>
</div>